Azure_OpenAI/chatbot/.env
Azure_OpenAI/chatbot/openai.ipynb
Azure_OpenAI/image/.env
Azure_OpenAI/image/dall_e_3.ipynb
Azure_OpenAI/search/.env
Azure_OpenAI/recommendation_engine/.env
Azure_OpenAI/recommendation_engine/__pycache__/agent.cpython-313.pyc

