Azure_AI/chatbot/.env
Azure_AI/chatbot/openai.ipynb

Azure_AI/image/.env
Azure_AI/image/dall_e_3.ipynb

Azure_AI/search/.env

Azure_AI/recommendation_engine/.env
Azure_AI/recommendation_engine/__pycache__/agent.cpython-313.pyc

Azure_AI/speech/.env

Azure_AI/document_intelligence/.env

Azure_AI/language/.env

Azure_AI/main/.env

Azure_AI/vision/.env
Azure_AI/vision/sample/.env
